.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'nav nav nav nav nav nav'
        'main main main main main main'
        'main main main main main main'
        'footer footer footer footer footer footer';
    grid-gap: .5em;
    padding: .5em;
    
    max-width: 62em;
    margin: auto;
}

body {
    background-color: #131d26;
}

header {
    grid-area: header;
    background-color: #5865f2;
    color: white;
    text-align: center;
}

nav {
    grid-area: nav;
    background-color: #5865f2;
}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 10px 16px;
    margin: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

li a:hover {
    background-color: #ff6b00;
}

.active {
    background-color: #ff6b00;
    padding: 10px 15px;
}

/* .icon {
    margin-right: 10px;
} */

main {
    grid-area: main;
    background-color: #5865f2;
    color: white;
    text-align: center;
}

/* aside {
    grid-area: aside;
    background-color: bisque;
} */

footer {
    grid-area: footer;
    background-color: #5865f2;
    color: white;
    text-align: center;
}

img { 
    width: 250px;
    height: 250px;
}



/* Below are two arbitrary break points. Please adjust to fit your content's needs. You can have more than two breakpoints. You want your site to be usable at ALL viewport widths. */



        /*FIRST BREAK POINT === tablet  Note: This is an arbitrary break point! Change it to fit your needs. */
        @media only screen and (max-width : 900px) {
            body {
                background: blue;
            }

            .grid-container {
                display: grid;
                grid-template-areas:
                    'header header header header header header'
					'nav nav nav nav nav nav'
                    'main main main main aside aside'
                    'footer footer footer footer footer footer';
                grid-gap: .5em;
                padding: .5em;
            }

            ul li {
                display: inline-block;
            }

        }

        /*SECOND BREAK POINT === mobile  Note: This is an arbitrary break point! Change it to fit your needs. */
        @media only screen and (max-width : 600px) {

            body {
                background: fuchsia;
            }

            .grid-container {
                display: grid;
                grid-template-areas:
                    'nav nav nav nav nav nav'
                    'header header header header header header'
                    'main main main main main main'
                    'aside aside aside aside aside aside'
                    'footer footer footer footer footer footer';
                grid-gap: .5em;
                padding: .5em;
            }

            ul li {
                display: inline-block;
            }
			

        }