/* Base styles for layout components */
.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'nav nav nav nav nav nav'
        'main main main main main main'
        'footer footer footer footer footer footer';
    grid-gap: .5em;
    padding: .5em;
    max-width: 62em;
    margin: auto;
}

header {
    grid-area: header;
    background-color: #5865f2;
    color: white;
    text-align: center;
}

nav {
    grid-area: nav;
    background-color: #5865f2;
}

body {
    background-color: #131d26;
    margin: 0;
}

.card {
    background-color: #ff6b00;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card:active {
    transform: translateY(0);
}

/* Styles for list and links */
ul {
    list-style-type: none;
    margin: 0;
}

li {
   float: left;
}

li a {
    display: block;
    color: white;
    padding: 10px 16px;
    margin: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

li a:hover {
    background-color: #ff6b00;
}

.active {
    background-color: #ff6b00;
    padding: 10px 15px;
}

main {
    grid-area: main;
    background-color: #5865f2;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

footer {
    grid-area: footer;
    background-color: #5865f2;
    color: white;
    text-align: center;
}

/* Hamburger icon and mobile menu styles */
#hamburger-icon {
  margin: auto 0;
  display: none; /* Initially hidden */
  cursor: pointer;
  z-index: 1010;
  position: fixed;
  top: 5px;
  padding:10px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* Style for regular navigation */
.regular-nav {
    display: flex;  /* Default display for regular nav */
}

/* Style for mobile menu */
.mobile-menu.is-visible {
    display: flex; /* Show the menu when this class is added */
}

.mobile-menu {
    display: none;  /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);  /* Semi-transparent background */
    z-index: 1000;  /* Ensure it is below the hamburger icon but above other content */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mobile-menu ul {
    width: 100%;  /* Full width to use the entire space of the menu */
    list-style-type: none;  /* No bullet points */
    padding: 0;
    margin: 0;
    display: flex;  /* Using flex to align children */
    flex-direction: column;  /* Stack children vertically */
    align-items: center;  /* Center items horizontally */
    justify-content: center;  /* Center items vertically */
}

.mobile-menu li {
    /*width: 100%;  /* Full width to match the container width */
    /*background-color: #5865f2;  /* Consistent with your design theme */
    margin-left:10px;  /* Space between menu items */
    padding: 5px;  /* Padding for touch targets */
}

.mobile-menu a {
    color: white;
    text-decoration: none;
    display: block;  /* Ensure the link uses the full list item area */
    text-align: center;  /* Center the text within the link */
    width: 100%;  /* Full width to ensure easy touch */
}

/* Media queries to control visibility */
@media only screen and (max-width: 900px) {
    .regular-nav {
        display: none;  /* Hide the regular navigation in mobile view */
    }

    #hamburger-icon {
        display: block;  /* Show hamburger icon in mobile view */
    }

    .mobile-menu {
        display: none;  /* Keep mobile menu hidden until toggled */
    }
}

@media only screen and (min-width: 901px) {
    .mobile-menu {
        display: none;  /* Ensure mobile menu is hidden in desktop view */
    }
    #hamburger-icon {
        display: none;  /* Hide hamburger icon in desktop view */
    }
}

@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-areas:
            'nav nav nav nav nav nav'
            'header header header header header header'
            'main main main main main main'
            'footer footer footer footer footer footer';
    }

    body {
        background-color: fuchsia;  /* Optional: Changes background color for demonstration */
    }
}

